{
   "parser": "@typescript-eslint/parser",
   "extends": ["airbnb", "plugin:@typescript-eslint/recommended"],
   "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "ecmaFeatures": {
         "jsx": true
      }
   },
   "env": {
      "browser": true
   },
   "rules": {
      "@typescript-eslint/indent": ["error", 3],
      "indent": [
         "error",
         3,
         {
            "SwitchCase": 1
         }
      ],
      "brace-style": ["error", "stroustrup"],
      "react/jsx-indent": ["error", 3],
      "react/jsx-indent-props": ["error", 3],
      "react/jsx-filename-extension": [
         1,
         { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
      ]
   },
   "settings": {
      "import/resolver": {
         "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
         }
      }
   }
}
